<!DOCTYPE html>
<html lang="es">
<head>
	<title>CERTAMEN 3</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<!-- Script JS -->
	<!--<script src="js/validadores.js"></script>-->
	<script src="js/funciones.js"></script>
</head>
<body>
	<!-- Mantenedor de alumno -->
	<div class="container">
		<h2>MANTENEDOR ALUMNO</h2>
		<table>
			<tr>
				<td>Id</td>
				<td> <input type="number" id="id" placeholder="Ej.: 100"> </td>
			</tr>
			<tr>
				<td>Nombre</td>
				<td> <input type="text" id="nombre" placeholder="Ej.: Ricardo"> </td>
			</tr>
			<tr>
				<td>Apellido</td>
				<td> <input type="text" id="apellido" placeholder="Ej.: Gómez"> </td>
			</tr>
			<tr>
				<td>Usuario</td>
				<td> <input type="text" id="username" placeholder="Ej.: rg.duoc"> </td>
			</tr>
			<tr>
				<td>Password</td>
				<td> <input type="password" id="password" placeholder="*********"> </td>
			</tr>
			<tr>
				<td>Rut</td>
				<td> <input type="text" id="rut" placeholder="Ej.: 18142335-7"> </td>
			</tr>
			<tr>
				<td>Carrera</td>
				<td> <input type="text" id="carrera" placeholder="Ej.: Ingeniería Comercial"> </td>
			</tr>
		</table>
		<div id="botones" style="text-align: center">
			<input type="button" class="btn btn-success" id="agregar" value="Agregar">
			<input type="button" class="btn btn-info" id="modificar" value="Modificar">
			<input type="button" class="btn btn-danger" id="eliminar" value="Eliminar">
			<input type="reset" class="btn btn-warning" id="limpiar" value="Limpiar">
		</div>
		<div id="dvdetalle">
			<table>
				<tr>
					<td class="titulo">ID</td>
					<td class="titulo">Nombre completo</td>
					<td class="titulo">Usuario</td>
					<td class="titulo">Password</td>
					<td class="titulo">Rut</td>
					<td class="titulo">Carrera</td>
				</tr>
				{% for alumno in alumnos %}
				<tr>
					<td> {{alumno["id"]}} </td>
					<td> {{alumno["nombre"]}} {{alumno["apellido"]}} </td>
					<td> {{alumno["username"]}} </td>
					<td> {{alumno["pass"]}} </td>
					<td> {{alumno["rut"]}} </td>
					<td> {{alumno["carrera"]}} </td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</body>
</html>